#header {
    background-color: #ccc;
    position: fixed;
    width: 100%;
    transition: "overflow-y" 0s;
    transition-delay: 1s;
    z-index: 1;
}

.header {
    &__container {
        height: 45px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__cart {
        color: #333;
        display: flex;
        align-items: center;
        line-height: 0;
    }

    &__icon {
        margin-right: 5px;
        transform: translateY(-3px);
    }

    &__counter {
        min-width: 20px;
        text-align: right;


    }
}