// @import './fonts';
// @import './icons';
@import './reset';
@import './config';

@import '../components/Header/Header';
@import '../components/Products/Products';
@import '../components/Shopping/Shopping';

// common

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.3;
  background-color: $color-light;
  font-weight: 400;
}

[class$='container'] {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
